<h1>Hello World</h1>
<p>Welcome to my page!</p>

<% if current_user %>
  <h2> Hello <%= current_user.email %> </h2>
  <%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>

<%#
<!--  a ='Hello World !!!! '-->
<!--  b = 1 + 1-->
%>
<%#= b %>

<%= @address %>
